app-docs-viewer {
  // display: flex;
  // flex-direction: column;
  height: 100vh; // full viewport
  // overflow: hidden; // prevent window scroll
  // margin: 0px;
  // padding: 15px;
}

.topContainer {
  // position: sticky;
  height: 12vh;
  // margin: 0px; // IMPORTANT: remove outer margins
  // padding: 0px;
}

// Thema
.themeContainer {
  position: relative;
  top: 10px;
  margin: 0px;
  padding: 0px 5px;
  font-size: 0px;
}

.themaTogglebutton {
  position: relative;
  width: auto;
  left: 5px;
  margin: 5px;
  padding: 0px 5px;
  background: rgb(0, 255, 0, .8);
  align-content: left;
  justify-content: left;
  border-radius: 10px;

}


.themeTitle {
  position: relative;
  width: auto;
  // left: 5px;
  bottom: 7px;
  margin: 5px; //5px;
  padding: 0px 5px;
  align-content: left;
}

.docId {
  position: relative;
  background: rgba(0, 255, 255, .8);
  width: auto;
  top: 10px;
  left: 10px;
  align-content: center;
  margin: 5px; //5px;
  padding: 0px 5px;
  border-radius: 10px;
}

.backToIndex {
  position: absolute;
  font-weight: bolder;
  background: rgba(0, 255, 255, .8);
  width: auto;
  top: 10px;
  right: 10px;
  align-content: center;
  margin: 5px; //5px;
  padding: 0px 5px;
  border-radius: 10px;

}
.backToPrevious {
  position: absolute;
  font-weight: bolder;
  background: rgba(59, 215, 236, 0.8);
  width: auto;
  top: 40px;
  right: 10px;
  align-content: center;
  margin: 5px; //5px;
  padding: 0px 5px;
  border-radius: 10px;

}

.progress-bar {
  position: relative;
  top: 15px;
  margin: 0;
  width: 100%;
  height: 4px;
  background: #eee;
}

.progress-fill {
  height: 100%;
  margin: 0;
  background: #3f51b5;
  transition: width 0.1s ease-out;
}


.markdownViewer {
  position: relative;
  height: 85vh;
  overflow-y: scroll; // internal scroll
  // overflow-x: auto;
  scrollbar-width: auto;
  // scrollbar-color: rgb(217, 58, 209);
  scroll-behavior: smooth;
  // background-color: black;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-size: 16px;

  margin: 0; // IMPORTANT: remove outer margins
  padding: 0px 16px; // keep inner spacing
  box-sizing: border-box;

  border-radius: 8px;
  transition: opacity 0.25s ease-in-out;
  animation: fadeIn 0.7s ease-in-out;
}


g .label-container {
  word-wrap: break-word;
}
